here is inside RESOURCE-ROUTER-OUTLET -> the "VIEW" ((ℹ️
zzpp._16._y20.0418-1835))
<!-- so I can zzcustomize the zzdetail view as I need! with "service.resource.data.title" zzPowerful zzextend zzformio ((❇️ zzppp._16._y20.0418-1836 -->
<div class="row">
  <div class="col col-sm-6">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h3 class="card-title">Event Information</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Title:</strong> {{ service.resource.data.title }}
        </li>
        <li class="list-group-item">
          <strong>Description:</strong> {{ service.resource.data.description }}
        </li>
        <li class="list-group-item">
          <strong>Date:</strong> {{ service.resource.data.date }}
        </li>
      </ul>
    </div>
  </div>
  <div class="col col-sm-6">
    <div class="card">
      <div class="card-header bg-success text-white">
        <h3 class="card-title">Event Registration</h3>
      </div>
      <div class="card-body">
        <!-- zzrelative.zzpath! zzwow zzrouter zzAngular ((❇️ zzppp._16._y20.0418-2121
          and zzformio has "new" zzpath at zzformioresourceservice/zzformioresourceroutes -->
        <a routerLink="../registrations/new" class="btn btn-primary"
          >Register for this Event</a
        >
      </div>
    </div>
  </div>
</div>
